[run]
source =
    books_service/books
    user_service/users
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */venv/*
    *__init__.py
    *settings.py
    *asgi.py
    *wsgi.py
    *manage.py
    *admin.py
    *apps.py
    *conftest.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    @property

[html]
directory = htmlcov